{% extends 'usernavigation.html'%}
{%load static%}
{%block body%}
{% ifequal error "no" %}
<script>
    alert('Password changed Successfully!');
    window.location =('{% url 'logout'%}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid login! Try Again');
</script>
{% endifequal %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
          <img src="{%static 'images/note3.jpg'%}" style="width:90%; height:400px;">
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <hr>
           <form method="post">
               {% csrf_token %}
               <label>Old password</label>
               <input type="password" class="form-control" placeholder="Old password" name="old">

               <label>New Password</label>
               <input type="password" class="form-control" placeholder="New Password" name="new">
               <label>Confirm Password</label>
               <input type="password" class="form-control" placeholder="Confirm Password" name="confirm">

               <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
           </form>
        </div>
    </div>

{%endblock%}