{% extends 'navigation.html'%}
{%block body%}
{%load static%}
<style>
.image{
 width:100%;
 height:470px;
 background:url({%static 'images/note3.jpg'%});
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100% 100%;
}

</style>
<div class="image">
    <div class="transparentbox">
        <p>Study Notes Sharing Site</p>
    </div>
</div>

<h4 class="text-center text-danger mt-5 mb-5">Just 4 Steps To Follow</h4>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-user-circle text-white mt-4" style="font-size:40px"></i></p>
                <p class="halfcircleBottom" style="font-size: 20px">Create Account</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-sign-in-alt text-white mt-4" style="font-size:40px"></i></p>
                <p class="halfcircleBottom" style="font-size: 20px">Login</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-upload text-white mt-4" style="font-size:40px"></i></p>
                <p class="halfcircleBottom" style="font-size: 20px">Upload Notes</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-download text-white mt-4" style="font-size:40px"></i></p>
                <p class="halfcircleBottom" style="font-size: 20px">Downloads Notes</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}